<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FutureUi Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/iconfonts/mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="vendors/iconfonts/puse-icons-feather/feather.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
          </div>
        </div>
      </div>
      <div class="navbar-menu-wrapper">
        <div class="navbar-overlapped d-flex align-items-center justify-content-end justify-content-lg-start">
          <ul class="navbar-nav navbar-search mr-lg-2">
            <li class=" d-none d-lg-block">
              <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="icon-menu"></span>
              </button>
            </li>
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="search">
                    <i class="icon-search"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Type to search" aria-label="search" aria-describedby="search">
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <div class="boxed-item">
                  <i class="icon-bell mx-0"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <a class="dropdown-item">
                  <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                  </p>
                  <span class="badge badge-pill badge-warning float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-information mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-medium">Application Error</h6>
                    <p class="font-weight-light small-text mb-0">
                      Just now
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-medium">Settings</h6>
                    <p class="font-weight-light small-text mb-0">
                      Private message
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-account-box mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-medium">New user registration</h6>
                    <p class="font-weight-light small-text mb-0">
                      2 days ago
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="mailDropdown" href="#" data-toggle="dropdown">
                <div class="boxed-item">
                  <i class="icon-mail mx-0"></i>
                  <span class="count"></span>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="mailDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="images/faces/face4.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                    </h6>
                    <p class="font-weight-light small-text text-muted mb-0">
                      The meeting is cancelled
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="images/faces/face2.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                    </h6>
                    <p class="font-weight-light small-text text-muted mb-0">
                      New product launch
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="images/faces/face3.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                    </h6>
                    <p class="font-weight-light small-text text-muted mb-0">
                      Upcoming board meeting
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown  d-none d-lg-block">
              <a class="nav-link language-dropdown" id="languageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="boxed-item  dropdown-toggle">
                  <i class="flag-icon flag-icon-ai" title="ai" id="ai"></i> <span class="text-dark">Aus</span>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                <a class="dropdown-item" href="#">  <i class="flag-icon flag-icon-fr" title="fr" id="fr"></i> <span class="text-dark">French</span> </a>
                <a class="dropdown-item" href="#"> <i class="flag-icon flag-icon-us" title="us" id="us"></i> <span class="text-dark">Usa </span></a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link language-dropdown" id="userDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img src="images/faces/face1.jpg" class="user-icon">
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">  <i class="mdi mdi-logout"></i> Logout </a>
                <a class="dropdown-item" href="#">  <i class="mdi mdi-settings"></i> Settings </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options selected" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles light"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close mdi mdi-close"></i>
        <ul class="nav nav-tabs" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline"></i>
                </li>
              </ul>
            </div>
            <div class="events py-4 border-bottom px-3">
              <div class="wrapper d-flex mb-2">
                <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
              <p class="text-gray mb-0">build a js based app</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item  nav-info">Template pages</li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item  nav-info">UI Features</li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-stack menu-icon"></i>
              <span class="menu-title">UI Elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item  nav-info">Forms</li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-archive menu-icon"></i>
              <span class="menu-title">Form elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="icon-target menu-icon"></i>
              <span class="menu-title">Icons</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/icons/simple-line-icon.html">Simple line icons</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item  nav-info">Data</li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Charts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item  nav-info">Pages</li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-circle-cross menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row" id="proBanner">
            <div class="col-12">
              <div class="card grid-margin">
                <div class="card-body p-0">
                  <span class="d-flex align-items-center purchase-popup">
                    <p>Get tons of UI components, Plugins, multiple layouts, 20+ sample pages, and more!</p>
                    <a href="https://www.bootstrapdash.com/product/future-ui/?utm_source=organic&amp;utm_medium=banner&amp;utm_campaign=free-preview" target="_blank" class="btn download-button purchase-button ml-auto">Upgrade To Pro</a>
                    <i class="mdi mdi-close" id="bannerClose"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <div>
                  <p class="text-small text-dark mb-1">DASHBOARD / SALES MONITORING</p>
                  <h4 class="font-weight-bold mb-0">Welcome to Dashboard</h4>
                </div>
                <div>
                  <button type="button" class="btn btn-link text-muted"><i class="mdi mdi-file-excel"></i>Export to Excel</button>
                  <button type="button" class="btn btn-link text-muted"><i class="mdi mdi-file-pdf"></i>Export to PDF</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <div class="icon-wrap bg-primary mb-4">
                          <i class="mdi mdi-briefcase ml-auto"></i>
                        </div>
                        <h1 class="text-dark font-weight-bold mb-2">823</h1>
                        <h6 class="text-dark">Number of Sales</h6>
                        <p class="text-muted">31.82%<span><i class="mdi mdi-arrow-up text-success ml-1"></i></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <div class="icon-wrap bg-success mb-4">
                          <i class="mdi mdi-content-paste ml-auto"></i>
                        </div>
                        <h1 class="text-dark font-weight-bold mb-2">3240</h1>
                        <h6 class="text-dark">Totol Orders</h6>
                        <p class="text-muted">31.82%<span><i class="mdi mdi-arrow-up text-success ml-1"></i></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <div class="icon-wrap bg-info mb-4">
                          <i class="mdi mdi-ticket-percent ml-auto"></i>
                        </div>
                        <h1 class="text-dark font-weight-bold mb-2">45%</h1>
                        <h6 class="text-dark">Covension Rate</h6>
                        <p class="text-muted">31.82%<span><i class="mdi mdi-arrow-up text-success ml-1"></i></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <div class="icon-wrap bg-danger mb-4">
                          <i class="mdi mdi-star-circle ml-auto"></i>
                        </div>
                        <h1 class="text-dark font-weight-bold mb-2">2543</h1>
                        <h6 class="text-dark">Avg Orders</h6>
                        <p class="text-muted">31.82%<span><i class="mdi mdi-arrow-up text-success ml-1"></i></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body pb-0">
                      <div class="d-xl-flex align-items-start justify-content-between">
                        <div>
                          <h4 class="card-title mb-1">Unique visitors</h4>
                          <p class="font-weight-light">Number of unique visitors</p>
                        </div>
                        <p class="text-muted">30 days</p>
                      </div>
                      <h1 class="mt-3">46,085</h1>
                      <p class="font-weight-medium mb-1"> less purchase <span class="text-muted">31.82%</span></p>
                    </div>
                    <div class="area-chart-wrapper">
                      <canvas id="unique-visitors-chart"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body pb-0">
                      <div class="d-xl-flex align-items-start justify-content-between">
                        <div>
                          <h4 class="card-title mb-1">Refunds</h4>
                          <p class="font-weight-light">Value of refunded orders</p>
                        </div>
                        <p class="text-muted">30 days</p>
                      </div>
                      <h1 class="mt-3">$4,523.00</h1>
                      <p class="font-weight-medium mb-1"> less purchase <span class="text-muted">31.82%</span></p>
                    </div>
                    <div class="area-chart-wrapper">
                      <canvas id="refund-chart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-sm-flex align-items-start justify-content-between mb-4">
                        <div>
                          <h4 class="card-title mb-1">Latest Transaction</h4>
                        </div>
                        <a href="#" class="btn btn-light mt-3 mt-lg-0">View Notes</a>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Employee Name</th>
                              <th>Department</th>
                              <th>Project</th>
                              <th>Discipline</th>
                              <th>Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="py-1">B12</td>
                              <td><img src="images/faces/face1.jpg" alt="image" class="mr-2"/>Ethel Doyle</td>
                              <td>Marketing</td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>34</p></td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>100%</p></td>
                              <td>$400</td>
                            </tr>
                            <tr>
                              <td class="py-1">B13</td>
                              <td><img src="images/faces/face2.jpg" alt="image" class="mr-2"/>Jesse Ray</td>
                              <td>Finance</td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>12</p></td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>87%</p></td>
                              <td>$380</td>
                            </tr>
                            <tr>
                              <td class="py-1">B14</td>
                              <td><img src="images/faces/face3.jpg" alt="image" class="mr-2"/>Cameron</td>
                              <td>H & R</td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>23</p></td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>90%</p></td>
                              <td>$384</td>
                            </tr>
                            <tr>
                              <td class="py-1">B15</td>
                              <td><img src="images/faces/face4.jpg" alt="image" class="mr-2"/>Jose Ball</td>
                              <td>Health</td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>71</p></td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>60%</p></td>
                              <td>$412</td>
                            </tr>
                            <tr>
                              <td class="py-1">B16</td>
                              <td><img src="images/faces/face5.jpg" alt="image" class="mr-2"/>Angel Adkins</td>
                              <td>Public relations </td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>45</p></td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>96%</p></td>
                              <td>$404</td>
                            </tr>
                            <tr>
                              <td class="py-1">B17</td>
                              <td><img src="images/faces/face6.jpg" alt="image" class="mr-2"/>Jared Carr</td>
                              <td>Public relations </td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>45</p></td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>96%</p></td>
                              <td>$623</td>
                            </tr>
                            <tr>
                              <td class="py-1">B18</td>
                              <td><img src="images/faces/face7.jpg" alt="image" class="mr-2"/>Jared Carr</td>
                              <td>Public relations </td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-danger"></span>45</p></td>
                              <td><p class="d-flex align-items-center"><span class="circle-dot bg-success"></span>96%</p></td>
                              <td>$623</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-xl-flex align-items-center justify-content-between">
                        <div>
                          <h4 class="card-title mb-1">Visit & Conversions</h4>
                        </div>
                        <div class="chart-legend" id="visit-conversion-chart-legend">
                        </div>
                      </div>
                      <canvas id="visit-conversion-chart"></canvas>
                      <p class="text-small mt-4">The total number of Page Impressions within the date range</p>
                      <div class="d-flex mt-3">
                        <h5 class="mr-3">Value:$198</h5>
                        <h5>Rate:$356</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-xl-flex align-items-center justify-content-between mb-4">
                      <div>
                        <h4 class="card-title mb-1">Traffic Sources</h4>
                      </div>
                      <div class="chart-legend" id="traffic-source-chart-legend"></div>
                    </div>
                    <canvas id="traffic-source-chart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 grid-margin stretch-card">
                  <div class="card bg-primary">
                    <div class="card-body carousel-custom">
                      <h5 class="text-white mb-4">Important Notes</h5>
                      <div class="owl-carousel owl-theme notes">
                        <div class="item">
                          <div class="item-content">
                            <p class="mb-2">Lorem Ipsum is simply dummy</p>
                            <span class="mb-3">Anna Fali - 10 Hours ago</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                            <div class="d-lg-flex justify-content-between align-items-center">
                              <a href="#" class="btn btn-light">View Notes</a>
                              <a href="#" class="btn btn-inverse-light text-muted">Dismiss</a>
                            </div>
                          </div>
                          <div class="item-content">
                            <p class="mb-2">Lorem Ipsum is simply dummy</p>
                            <span class="mb-3">Anna Fali - 10 Hours ago</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                            <div class="d-lg-flex justify-content-between align-items-center">
                              <a href="#" class="btn btn-light">View Notes</a>
                              <a href="#" class="btn btn-inverse-light text-muted">Dismiss</a>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="item-content">
                            <p class="mb-2">Lorem Ipsum is simply dummy</p>
                            <span class="mb-3">Anna Fali - 10 Hours ago</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                            <div class="d-lg-flex justify-content-between align-items-center">
                              <a href="#" class="btn btn-light">View Notes</a>
                              <a href="#" class="btn btn-inverse-light text-muted">Dismiss</a>
                            </div>
                          </div>
                          <div class="item-content">
                            <p class="mb-2">Lorem Ipsum is simply dummy</p>
                            <span class="mb-3">Anna Fali - 10 Hours ago</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                            <div class="d-lg-flex justify-content-between align-items-center">
                              <a href="#" class="btn btn-light">View Notes</a>
                              <a href="#" class="btn btn-inverse-light text-muted">Dismiss</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-xl-flex align-items-start justify-content-between">
                    <div>
                      <h4 class="card-title mb-1">New vs. Returning</h4>
                    </div>
                    <p class="text-muted">30 days</p>
                  </div>
                 <div class="my-5">
                  <canvas id="doughnutChart"></canvas>
                 </div>
                 <div class="returning-legend">
                   <div class="d-flex justify-content-between align-items-center  py-3 border-bottom">
                    <div>
                      <span class="legend-dot blue"></span> New
                    </div>
                    <div class="d-flex">
                      <h6 class="mb-0">26,939</h6>
                      <h6 class="mb-0 ml-5">30%</h6>
                    </div>
                   </div>
                   <div class="d-flex justify-content-between align-items-center  pt-3">
                    <div>
                      <span class="legend-dot light-blue"></span> Returning
                    </div>
                    <div class="d-flex">
                      <h6 class="mb-0">14,102</h6>
                      <h6 class="mb-0 ml-5">70%</h6>
                    </div>
                   </div>
                 </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-xl-flex align-items-start justify-content-between mb-3">
                    <div>
                      <h4 class="card-title mb-1">Latest Transaction</h4>
                    </div>
                    <p class="text-muted">30 days</p>
                  </div>
                  <h5 class="font-weight-medium">Desktop is the most popular device</h5>
                  <div class="d-flex py-3">
                    <div class="progress-custom progress-1 progress-bg-1"></div>
                    <div class="progress-custom progress-2 progress-bg-2"></div>
                    <div class="progress-custom progress-3 progress-bg-3"></div>
                    <div class="progress-custom progress-4 progress-bg-4"></div>
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>

                  <div class="d-flex align-items-center justify-content-between py-3 border-bottom">
                    <div class="d-flex align-items-center">
                      <div class="progress-rect progress-bg-1"></div>
                      <p class="mb-0">Desktop</p>
                    </div>
                    <h6 class="font-weight-medium">26,939</h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-between py-3 border-bottom">
                    <div class="d-flex align-items-center">
                      <div class="progress-rect progress-bg-2"></div>
                      <p class="mb-0">Mobile</p>
                    </div>
                    <h6 class="font-weight-medium">14,102</h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-between py-3 border-bottom">
                    <div class="d-flex align-items-center">
                      <div class="progress-rect progress-bg-3"></div>
                      <p class="mb-0">Tablet</p>
                    </div>
                    <h6 class="font-weight-medium">4,483</h6>
                  </div>
                  <div class="d-flex align-items-center justify-content-between py-3">
                    <div class="d-flex align-items-center">
                      <div class="progress-rect progress-bg-4"></div>
                      <p class="mb-0">Others</p>
                    </div>
                    <h6 class="font-weight-medium">561</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-start justify-content-between mb-3">
                    <div>
                      <h4 class="card-title mb-1">Budget</h4>
                    </div>
                    <p class="text-muted">30 days</p>
                  </div>
                  <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>

                  <div class="row mb-4">
                    <div class="col-3 grid-margin grid-margin-lg-0 stretch-card">
                      <div class="icon-wrapper-light progress-light-info">
                        <i class="mdi mdi-credit-card"></i>
                      </div>
                    </div>
                    <div class="col-9 grid-margin  grid-margin-lg-0 stretch-card">
                      <div class="w-100">
                        <p class="text-muted">Expenses</p>
                        <div>
                          <div class="d-flex justify-content-between mt-2">
                            <h6 class="font-weight-bold mb-0">$11,763</h6>
                            <p class="mb-0">50% <i class="mdi mdi-arrow-up text-success ml-1"></i></p>
                          </div>
                          <div class="progress progress-sm mt-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-3 grid-margin-lg-0 grid-margin stretch-card">
                      <div class="icon-wrapper-light progress-light-warning">
                        <i class="mdi mdi-credit-card"></i>
                      </div>
                    </div>
                    <div class="col-9 grid-margin  grid-margin-lg-0 stretch-card">
                      <div class="w-100">
                        <p class="text-muted">Previous statement</p>
                        <div>
                          <div class="d-flex justify-content-between mt-2">
                            <h6 class="font-weight-bold mb-0">$34,500</h6>
                            <p class="mb-0">77% <i class="mdi mdi-arrow-up text-success ml-1"></i></p>
                          </div>
                          <div class="progress progress-sm mt-2">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 77%" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-3 grid-margin  grid-margin-lg-0 stretch-card">
                      <div class="icon-wrapper-light progress-light-primary">
                        <i class="mdi mdi-credit-card"></i>
                      </div>
                    </div>
                    <div class="col-9 grid-margin  grid-margin-lg-0 stretch-card">
                      <div class="w-100">
                        <p class="text-muted">Current Statement</p>
                        <div>
                          <div class="d-flex justify-content-between mt-2">
                            <h6 class="font-weight-bold mb-0">$9,112</h6>
                            <p class="mb-0">23% <i class="mdi mdi-arrow-up text-success ml-1"></i></p>
                          </div>
                          <div class="progress progress-sm mt-2">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 23%" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 grid-margin  grid-margin-lg-0 stretch-card">
                      <a href="#" class="btn btn-light">Download</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order And Downloads</h4>
                  <div class="d-lg-flex align-items-center justify-content-between mb-5">
                    <div class="d-lg-flex">
                      <div class="d-flex align-items-center mr-4">
                        <div class="mr-3">
                          <p class="text-muted">This Month</p>
                          <h5>$15,000</h5>
                        </div>
                        <div class="mr-3">
                          <p class="text-muted">This Month</p>
                          <h5>$10,000</h5>
                        </div>
                      </div>
                      <div>
                        <div id="order-download-chart-legend"></div>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="btn btn-light mr-0 mr-lg-2 mb-2 mb-xl-0">Last 30 days</a>
                      <a href="#" class="btn btn-light mr-0 mr-lg-2 mb-2 mb-xl-0">3 Months</a>
                      <a href="#" class="btn btn-light">6 Months</a>
                    </div>
                  </div>
                  <div class="order-chart">
                    <canvas id="order-download-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="card-title mb-0">Live chart</h4>
                    <div>
                      <i class="mdi mdi-video icon-large"></i>
                      <i class="mdi mdi-phone-in-talk icon-large"></i>
                    </div>
                  </div>
                  <div class="chat-dashboard-wrap">
                    <div class="chat-from mb-4">
                      <img src="images/faces/face1.jpg" alt="">
                      <div>
                        <div class="txt-chat">I would suggest you discuss this further with project team.</div>
                        <p class="text-muted">09:25 am</p>
                      </div>
                    </div>
                    <div class="chat-to mb-4">
                      <div>
                        <div class="txt-chat">I am very busy at the moment and on top of everything. </div>
                        <p class="text-muted">09:28 am</p>
                      </div>
                      <img src="images/faces/face2.jpg" alt="">
                    </div>
                  </div>
                  <div class="chat-dashboard-wrap">
                    <div class="chat-from mb-4">
                      <img src="images/faces/face3.jpg" alt="">
                      <div>
                        <div class="txt-chat">What do you think about our plans for this product launch?</div>
                        <p class="text-muted">09:25 am</p>
                      </div>
                    </div>
                    <div class="chat-to mb-4">
                      <div>
                        <div class="txt-chat">It looks to me like you have a lot planned before your deadline.  </div>
                        <p class="text-muted">09:28 am</p>
                      </div>
                      <img src="images/faces/face4.jpg" alt="">
                    </div>
                  </div>
                  <div class="chat-dashboard-wrap">
                    <div class="d-flex">
                      <input type="text" class="form-control" placeholder="Type text here">
                      <a href="#" class="send-btn"><i class="mdi mdi-send"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="card-title mb-0">Task List</h4>
                    <a href="#" class="btn btn-light">Add new list</a>
                  </div>
                  <div>
                    <div class="alert alert-info" role="alert">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <h6>Client metting with alex johnson</h6>
                          <p>18:00 pm - 09:45 am</p>
                        </div>
                        <div class="image-grouped">
                          <img src="images/faces/face1.jpg" alt="">
                          <img src="images/faces/face2.jpg" alt="">
                          <img src="images/faces/face3.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="alert alert-primary" role="alert">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <h6>Meet John for Projet Proposal</h6>
                          <p>10:00 am - 11:45 am</p>
                        </div>
                        <div class="image-grouped">
                          <img src="images/faces/face4.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="alert alert-danger" role="alert">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <h6>Video conference with team</h6>
                          <p>12:00 pm - 13:15 pm</p>
                        </div>
                        <div class="image-grouped">
                          <img src="images/faces/face5.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="alert alert-success" role="alert">
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <h6>Workshop with danielle smith</h6>
                          <p>15:00 pm - 14:45 pm</p>
                        </div>
                        <div class="image-grouped">
                          <img src="images/faces/face6.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Free <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard</a> templates from Bootstrapdash.com</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © bootstrapdash.com 2020
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

