/* Tables */

.table {
  margin-bottom: 0;
  thead {
    th {
      border-top: 0;
      border-bottom-width: 1px;
      font-weight: normal;
      font-size: 14px; 
      color: $table-head-color;
      background: $table-head-bg;
      i {
        margin-left: 0.325rem;
      }
    }
  }
  th,
  td {
    vertical-align: middle;
    line-height: 1;
  }
  td {
    font-size: $default-font-size;
    color: $body-color;
    .circle-dot {
      width: 7px;
      height: 7px;
      border-radius: 100%;
      display:block;
      margin-right:5px
    }
    img {
      width: 18px;
      height: 18px;
      border-radius: 100%;
    }
    .badge {
      margin-bottom: 0;
    }
  }
  &.table-borderless {
    border: none;
    tr,
    td,
    th {
      border: none;
    }
  }
}
