/* alert Mixins */
@mixin alert-variant($background, $border, $color) {
  &:after {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background:  $color;
  }

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}