/* Demo Styles */
// Add spacing to Boostrap components for demo purpose
.icon-wrap {
  width: 46px;
  height: 46px;
  border-radius: 13px;
  color: $white;
  text-align: center;
  padding-top: 10px;
  i {
    font-size: 24px;
  }
}
.chart-legend {
  ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      padding: 0 5px;
      .legend-dots {
        width: 6px;
        height: 6px;
        border-radius: 13px;
        display: inline-block;
        margin-right: 5px;
      }
    }

  }
}
.area-chart-wrapper {
  height: 160px;
}
.carousel-custom {
  .item-content {
    background: $white;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      color: $body-color;
      font-weight: 500;
    }
    span {
      font-size: 10px;
      color: $text-muted;
      display: block;
    }
  }
  .owl-nav {
    position: absolute;
    right: 0;
    top: -50px;
    margin: 0;
    .owl-prev,
    .owl-next {
      background: transparent;
      padding: 0;
      margin: 0;
      font-size: 30px;
      &:hover {
        background: theme-color(dark);
      }
    }
  }
}
.returning-legend {
  .legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    &.blue {
      background: theme-color(info);
    }
    &.light-blue {
      background: lighten(theme-color(info), 20% );
    }
  }
}
.progress-custom {
  height: 10px;
  &.progress-1 {
    width: 60%;
   
  }
  &.progress-2 {
    width: 10%;
  }

  &.progress-3 {
    width: 20%;
  }
  &.progress-4 {
    width: 30%;
  }
}
.progress-bg-1 {
  background: theme-color(danger);
}
.progress-bg-2 {
  background: lighten(theme-color(danger), 10% );
}
.progress-bg-3 {
  background: lighten(theme-color(danger), 20% );
}
.progress-bg-4 {
  background: lighten(theme-color(danger), 30% );
}
.progress-rect {
  width: 11px;
  height: 10px;
  margin-right: 10px;
}
.icon-wrapper-light {
  width: 52px;
  height: 52px;
}
.order-chart {
  height: 300px;
}
#order-download-chart-legend {
  display: flex;
  height: 100%;
  ul {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    padding-left: 0;
    li {
      font-size: 16px;
      padding-right: 1rem;
      .legend-dots {
        width: 6px;
        height: 6px;
        border-radius: 13px;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
.chat-dashboard-wrap {
  font-size: 14px;
  .chat-from {
    padding-right: 35px;
    display: flex;
    img {
      width: 39px;
      height: 39px;
      border-radius: 100%;
    }
    .txt-chat {
      background: theme-color(light);
      padding: 5px;
      border-radius: 4px;
      font-weight: 300px;
      margin-left: 20px;
    }
    p {
      margin-top: 5px;
      margin-left: 20px;
      margin-bottom: 0;
    }
  }
  .chat-to {
    padding-left: 35px;
    display: flex;
    img {
      width: 39px;
      height: 39px;
      border-radius: 100%;
    }
    .txt-chat {
      background: theme-color(primary);
      color: $white;
      padding: 5px;
      border-radius: 4px;
      font-weight: 300px;
      margin-right: 20px;
    }
    p {
      margin-top: 5px;
      margin-right: 20px;
      margin-bottom: 0;
      text-align: right;
    }
  }
  .form-control {
    border: none;
    border-bottom: 1px solid $border-color;
  }
  .send-btn {
    height: 100%;
    color: $black;
    font-size: 24px;
  }
}
.purchase-popup {
  background: #fff;
  padding: 15px 20px;
  @include border-radius(3px);

  .btn {
    margin-right: 20px;
    font-weight: 500;
    color: $white;
    @include border-radius(5px);
    @include transition-duration(0.2s);

    &.download-button {
      background: rgba(249, 249, 249, 0.7);
      color: #969292;
      border: 1px solid darken(#e4e4e4,5%);
    }

    &.purchase-button {
      background-color: rgba(172, 50 ,228, 0.9);
      @include background-image(theme-gradient-color(primary));
      color: $white;
      border: none;
      line-height: 1;
      vertical-align: middle;
    }
  }

  p {
    margin-bottom: auto;
    margin-top: auto;
    color: darken(#e4e4e4,40%);
    font-weight: 400;
    vertical-align: middle;
    line-height: 1;
  }

  i {
    vertical-align: middle;
    line-height: 1;
    margin: auto 0;
    color: darken(#e4e4e4,20%);
  }
}